
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  padding: 20px;
}

h1 {
  font-size: 36px;
}

.trailer {
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #13d8b7;
  border-radius: 10px;
  margin: auto; 
}

h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

p {
  font-size: 18px;
  text-align: justify;
}

.personagens_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personagens_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cartao {
  border: 2px solid #13d8b7;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  background-color: #1a1a1a;
  color: #ffffff;
}

.personagem_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.cartao h3 {
  margin: 5px 0;
  font-size: 20px;
}

.cartao p {
  margin: 5px 0;
  font-size: 14px;
}

.descricao_section {
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #13d8b7;
  border-radius: 10px;
  margin: auto; 
}
.download_section{
  width: 40%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #13d8b7;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px; 
  margin-bottom: 55px;
}
